extends ../../templates/base
include ../../components/blocks/blocks.pug
include ../../components/elements/elements.pug
include ../../components/plugins/plugins.pug

block title
  title TOXIN ROOM-DETAILS
block content
  - var mixinCount = 0,formCount = 0;chartCount = 0;

  .room-details
    +header({buttons: true})
    .room-details__inner
      section.room-details__images 
        #room-details__img-big.room-details__image
          +image("room-details-big", "apt1") 
        .room-details__image
          +image("room-details-small1", "apt2")
        .room-details__image
          +image("room-details-small2", "apt3")
      section.room-details__info 
        |
        .container
          .room-details__info-wrapper
            .room-details__info-inner
              .room-details__info-comforts
                .room-details__info-title.block-title Сведения о номере
                +media-block({media:{imgName: "emoticon", alt: "Комфорт"}, title: "Комфорт",description: "Шумопоглощающие стены"})
                +media-block({media:{imgName: "location_city", alt: "Удобство"}, title: "Удобство",description: "Окно в каждой из спален"})
                +media-block({media:{imgName: "whatshot", alt: "Уют"}, title: "Уют",description: "Номер оснащён камином"})
              .room-details__info-votes 
                |
                .room-details__info-title.block-title Впечатления от номера
                +feedback-circle
              //- .room-details__card-price
              //-   +card-price
              .room-details__info-comments 
                |
                .room-details__info-title.block-title Отзывы посетителей номера
                  span.room-details__info-comments-number
                +comment({avatarImage: {imgName: "avatar-comment", alt: "avatar image"}, title: "Мурад Сарафанов", published: "5 дней назад", likes: {count:"12", checked: true},message: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", size: "flex"})
                +comment({avatarImage: {imgName: "avatar-comment2", alt: "avatar image"}, title: "Патрисия Стёклышкова", published: "Неделю назад", likes: {count:"2", checked: false},message: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", size: "flex"})

              .room-details__info-rules
                .room-details__info-title.block-title Правила
                +bullet-list({title: false,options:["Нельзя с питомцами", "Без вечеринок и мероприятий","Время прибытия — после 13:00, а выезд до 12:00"]})
              .room-details__info-cancel
                .room-details__info-title.block-title Отмена
                .room-details__info-cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
            .room-details__card-price
              +card-price
    +footer
