@use "/src/assets/common_style/index.common";

.room-details {

  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  .header,
  .footer {
    margin: 0;
  }

  .footer {
    border-top: 1px solid index.$dark-shade10;
  }


  &__inner {
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    padding-top: 70px;

  }

  &__images {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.333%, 1fr));
    grid-auto-rows: 242px;

  }

  #room-details__img-big {
    grid-row: span 2;
    grid-column: span 2;
  }

  &__image {
    overflow: hidden;
    width: 100%;
    height: 100%;


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

    }

  }

  &__info {
    padding: 70px 0 50px 0;
  }

  .block-title {
    @extend %h2title;
    padding-bottom: 20px;
  }

  &__info-wrapper {
    @include index.isFlex(row, space-between, flex-start, nowrap);
  }

  &__info-inner {

    display: grid;
    grid-template-columns: 350px repeat(auto-fit, minmax(50%, 1fr));
    gap: 20px 0;
  }

  &__info-comforts {
    .block-title {
      padding: 0;
    }
  }

  &__info-comments {
    grid-column: span 2;

    // grid-auto-flow: dense;
    .block-title {
      padding-bottom: 10px;
    }
  }

  &__info-rules {
    .bullet-list {
      padding-top: 0;
    }
  }

  .card.card-price {
    margin: 0;

  }

  &__card-price {
    grid-row: span 2;
    justify-self: right;
  }

  &__info-cancel-text {
    @extend %bodyText;
    padding-right: 20px;
  }

  .comment__text {
    padding-right: 20px;
  }

  // =======media =====================

  @media(max-width: 1260px) {
    &__info-wrapper {
      padding: 0 30px;
    }

    &__info-inner {
      grid-template-columns: 290px repeat(auto-fit, minmax(320px, 1fr));
    }
  }

  @media(max-width: 1100px) {
    &__info-wrapper {
      @include index.isFlex(column, flex-start, center, nowrap);
    }

    &__info-inner {
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
      padding-bottom: 40px;
    }
  }

  @media(max-width: 680px) {

    &__images {
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    &__info-inner {
      grid-template-columns: minmax(320px, 1fr);
      gap: 40px 0;

      &>div {
        @include index.isFlex(column, flex-start, center, nowrap);
      }
    }

    &__info-comments {
      grid-column: span 1;
    }

    &__info-cancel-text {
      padding: 0 40px;
    }
  }

  @media(max-width: 550px) {
    &__images {
      grid-template-columns: minmax(320px, 1fr);
    }

    #room-details__img-big {
      grid-row: span 2;
      grid-column: span 1;
    }
  }

  @media(max-width: 450px) {
    &__info-wrapper {
      padding: 0;
    }
    &__card-price{
      width: 100%;
    }
    .card.card-price {
      width: 100%;
    }
    .select-plugin__wrap.--full-size{
      width: 100% ;

    }
  }

}