extends ../../templates/base
include ../../components/blocks/blocks.pug
include ../../components/elements/elements.pug
block content
  .img-container
    +image("logo-grey", "logo")
  .container
    .color-samples
      - let objarr = [{text: "Dark Shade 100%", color:"#1F2041", colorName: "Dark_Shade_100"},{text: "Dark Shade 75%", color: "#1F2041", colorName: "Dark_Shade_75"},{text: "Dark Shade 50%", color: "#1F2041", colorName: "Dark_Shade_50"},{text: "Dark Shade 25%", color: "#1F2041", colorName: "Dark_Shade_25"},{text: "Dark Shade 5%", color: "#1F2041", colorName: "Dark_Shade_5"},{text: "Purple", color: "#BC9CFF", colorName: "Purple"},{text: "Green", color: "#6FCF97", colorName:"Green"}]
      each i in objarr
        +card-horizontal(i.text, i.color, i.colorName)
