extends ../../templates/base
include ../../components/blocks/blocks.pug
include ../../components/elements/elements.pug
include ../../components/plugins/plugins.pug
include ../../components/layout-sets/layout-sets.pug

block title
  title TOXIN UI-KIT
block content
  - var mixinCount = 0;
  +header-ui
  section.colors-type
    .container.row
      +colors 
      +type 
  section.form-elements
    .container.row
      +inputs
      +selection-controls
      +buttons 
    .container.row 
      |
      +dropdowns
    .container.row 
      |
      +lists
    .container.row 
      |
      +comments
  section.cards 
    |
    .container.row 
      |
      .cards__column.column
        +card-search
        +card-reg
