extends ../../templates/base
include ../../components/blocks/blocks.pug
include ../../components/elements/elements.pug
include ../../components/plugins/plugins.pug
include ../../components/layout-sets/layout-sets.pug

block title
  title TOXIN UI-KIT
block content
  - var mixinCount = 0,formCount=0;
  +header-ui
  section.colors-type
    .container.row
      +colors 
      +type 
  section.form-elements
    .container.row
      +inputs
      +selection-controls
      +buttons 
    .container.row 
      |
      +dropdowns
    .container.row 
      |
      +lists
    .container.row 
      |
      +comments
  section.cards 
    |
    .container.row 
      |
      .cards__column.column
        +card-search
        +card-reg
      .cards__column.column
        +card-price
        +card-signin
      .cards__column.column
        +filter-datepicker({placehld:"ДД.ММ.ГГГГ",size: "--full-size", inline:true})
        +card-apt({remoteSource: true,img:[{name: "apt1",alt:"1"},{name: "apt2",alt:"2"},{name: "apt3",alt:"3"},{name: "apt4",alt:"4"}], aptNum:"888"})
        +card-apt({arrows: false, remoteSource: true,img:[{name: "apt2",alt:"2"},{name: "apt1",alt:"1"},{name: "apt3",alt:"3"},{name: "apt4",alt:"4"}], aptNum:"840"})
