extends ../../templates/base
include ../../components/blocks/blocks.pug
include ../../components/elements/elements.pug
include ../../components/plugins/plugins.pug

block title
  title TOXIN UI-KIT
block content
  +header-ui
  section.colors-type
    .container.row
      .colors-type__colors
        - let objarr = [{text: "Dark Shade 100%", color:"#1F2041", colorName: "Dark_Shade_100"},{text: "Dark Shade 75%", color: "#1F2041", colorName: "Dark_Shade_75"},{text: "Dark Shade 50%", color: "#1F2041", colorName: "Dark_Shade_50"},{text: "Dark Shade 25%", color: "#1F2041", colorName: "Dark_Shade_25"},{text: "Dark Shade 5%", color: "#1F2041", colorName: "Dark_Shade_5"},{text: "Purple", color: "#BC9CFF", colorName: "Purple"},{text: "Green", color: "#6FCF97", colorName:"Green"}]
        each i in objarr
          +card-horizontal(i.text, i.color, i.colorName)
      .colors-type__type
        +card-simple("H1", "This one is the sub-section or widget title", "colors-type__type")
        +card-simple("H2", "Next one is the item title inside widgets", "colors-type__type")
        +card-simple("H3", "This is a label or CTA text", "colors-type__type")
        +card-simple("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.", "colors-type__type")
  section.form-elements
    .container.row
      .form-elements__inputs.column
        +input("Email", "text field", "Email", "email", "full")
        +input("text", "text field", "This is pretty awesome", "text","full")
        +select-plugin("select-guests1", "dropdown", "full")
        +input("date", "masked text field", "","masked-date","full")
        .form-elements__date-dropdowns.row
          +datepicker("text","date dropdown","ДД.ММ.ГГГГ","2")
          +datepicker("text","date dropdown","ДД.ММ.ГГГГ","3")
        +filter-datepicker("text","filter date dropdown","ДД.ММ.ГГГГ","3")
        +input("text", "subscription text field", "Email", "subscription","middle")
      .form-elements__selection-controls.column
        .form-elements__checkbox-buttons.column
          .form-elements__elements-block.elements-block
            h3.form-elements__title.elements-block-title checkbox buttons
            +checkbox("Можно курить","checkbox1") 
            +checkbox("Можно с питомцами","checkbox2", "checked") 
            +checkbox("Можно пригласить гостей (до 10 человек)","checkbox3") 
        .form-elements__radio-buttons.column
          .form-elements__elements-block.elements-block 
            |
            h3.form-elements__title.elements-block-title radio buttons
            +radiobutton1("sexOptions",[{value: "Мужчина", id: 1},{value: "Женщина", id: 2}], "Мужчина")
        .form-elements__toggle-buttons.column 
          |
          .form-elements__elements-block.elements-block
            h3.form-elements__title.elements-block-title toggle
            +toggle("Получать спецпредложения","toggle1","checked")
            +toggle("Получать спецпредложения","toggle1")
        .form-elements__like-buttons.column 
          |
          .form-elements__elements-block.elements-block
            h3.form-elements__title.elements-block-title like buttons
            .form-elements__like-buttons-set.row
              +like("12","like_1","checked")
              +like("2","like_2")
      .form-elements__buttons
    .container.row 
      |
      .form-elements__dropdowns.column
        +select-plugin("select-accomodations","dropdown", "middle")
        +select-plugin("select-accomodations-open", "dropdown", "middle")
