mixin footer(userOptions ={})
  -
    let defaultOptions = {
      style: "standard",
      items: {
        1:{
          1: {text: "навигация"},
          2: { text: "О нас", href:"#"},
          3: { text: "Новости", href:"#" },
          4: { text: "Служба поддержки", href:"#" },
          5: { text: "Услуги", href:"#" },
        },
        2: {
          1: { text: "о нас"},
          2: { text: "О сервисе", href:"#" },
          3: { text: "Наша команда", href:"#" },
          4: { text: "Вакансии", href:"#" },
          5: { text: "Инвесторы", href:"#" },
          },
        3: {
          1: { text: "служба поддержки"},
          2: { text: "Соглашения", href:"#" },
          3: { text: "Сообщества", href:"#" },
          4: { text: "Связь с нами", href:"#" },
          },
       },
      };

  -
    let options = {};
    options.style = userOptions.style?userOptions.style:defaultOptions.style;
    options.items = userOptions.items ? Object.assign({}, defaultOptions.items, userOptions.items) : defaultOptions.items;
  if options.style == "standard"
    footer.footer
      .container
        .footer__inner
          .footer__top 
            |
            |
            .footer__logo 
              |
              |
              +logo
              .footer__logo-description
                p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer__navigation-block
              each item in options.items
                .footer__navigation 
                  |
                  |
                  ul.footer__navigation-list
                    each subitem in item
                      li
                        a(href=`${subitem.href}`)= subitem.text

            .footer__signup 
              |
              |
              ul.footer__signup-list
                li
                  a(href="#") Подписка
                li
                  p Получайте специальные предложения и новости сервиса
                +input({type:"Email", placehld:"Email", size:"container",beforeClass:"icon-arrow_forward"})

      .footer__bottom
        .footer__bottom-inner
          +logo 
          .footer__bottom-copyright Copyright © 2018 Toxin отель. Все права защищены.
          .footer__bottom-socials 
            |
            +socials 
  else if options.style == "mobile"
    footer.footer-mobile 
      |
      .container
        .footer-mobile__inner
          +logo 
          .footer-mobile__copyright Copyright © 2018 Toxin отель. Все права защищены.
          .footer-mobile__socials
            +socials
