@use "/src/assets/common_style/index.common";

.footer {
  width: 100%;
  @extend %bodyText;
  background-color: #fff;

  &-mobile{
    margin: 0 auto;
    max-width: 768px;
    background-color: #fff;
    @extend %bodyText;
  }

  &-mobile__inner{
    padding: 120px 0;
    width: 100%;
    @include index.isFlex(column, center, center, nowrap);
    &>div{
      padding-bottom: 20px;
    }
  }
  &__inner {
    width: 100%;
    @include index.isFlex(column, flex-start, flex-start, nowrap);
  }

  &__top,
  &__bottom {
    width: 100%;
    @include index.isFlex(row, space-between, flex-start, nowrap);
  }

  &__top {
    padding: 100px 0 90px 0;
  }

  &__logo {
    max-width: 260px;
    padding-top: 10px;
    p{
      padding-top: 15px;
    }
  }

  &__navigation-block{
    @include index.isFlex(row, space-between, flex-start, nowrap);
  }
  &__navigation {
    padding: 0 20px;

    li {
      line-height: 38px;

      a {
        color: index.$dark-shade50;
      }

      &:first-child {
        a {
          color: index.$dark-shade100;
          @extend %h3label;
        }
      }
    }

  }

  &__signup {
    li:first-child {
      line-height: 38px;

      // padding: 10px 0;
      a {
        color: index.$dark-shade100;
        @extend %h3label;
      }
    }

    p {
      padding: 7px 0 20px 0;
    }

    max-width: 260px;
  }


  &__bottom{
    height: 70px;
    width: 100%;
    border-top: 1px solid index.$dark-shade10;
    @include index.isFlex(row,space-between,center,nowrap);
    
    &-inner{
      max-width: 1160px;
      margin: 0 auto;
      height: 100%;
      width: 100%;
      @include index.isFlex(row,space-between,center,nowrap);
    }

    
  }
  &__bottom-inner .logo.--colored-full{
    display: none;
  }
  &__bottom-socials,&-mobile__socials{
    @include index.isFlex(row,space-between,center,nowrap);
    &>div:not(div:last-child){
      padding-right: 20px;
    }
  }
 
}

@media (max-width: 1160px){
  .footer{
    padding: 0 20px;
  }
  .footer__top{
  padding: 50px 0;
  }
}
@media (max-width:1055px){
  .footer__top{
    flex-direction: column;
    align-items: center;
    &>div{
      
      text-align: center;
      margin-bottom: 20px;
    }
    .logo{
      width: max-content;
      margin: 0 auto; 
    }
    }
}

@media (max-width: 580px){
  .footer__top{
    display: none;
  }
  .footer__bottom{
    height: max-content;
  }
  .footer__bottom-inner {
    padding: 50px 0;
    flex-direction: column;
    &>div{
      padding-bottom: 20px;
    }
    .logo.--colored-full{
      display: flex;
    }
    
  }
}