@use "/src/assets/common_style/index.common";

.card-reg {
  form {
    margin-top: 10px;
  }

  &__footer {
    @include index.isFlex(row, center, center, nowrap);

    &-text {
      @extend %bodyText;
      align-self: center;
      margin-top: 20px;
    }
  }
}