@use "/src/assets/common_style/index.common";

.comment {
 margin: 10px 0;
  @include index.isFlex(row, flex-start, flex-start, nowrap);

  &__author {
    @include index.isFlex(column, flex-start, flex-end, nowrap);
  }
  &__image{
  position: relative;
  margin-top: -5px;
   height: 56px;
  //  width: 83px;
  width: 70px;
   margin-bottom:18px ;
   margin-right: 0;
   background-position: center center;
 
   img{
    position: absolute;
    top: 4px;
    left:-9px;
   }
  }
 &__like{
  width: 40px;
  margin-right: 15px;
 
  
 }
  &__text {
    margin: 10px 0;
    @include index.isFlex(column, flex-start, flex-start, nowrap);
  }
  &__title-block{
    height: 56px;
    
  }
  &__title{
    @extend %control-item-title;
    margin-bottom: 4px;
  }
  &__published{
    @extend %bodyText;
  }
  &__message{
    @extend %bodyText;
    width: 100%;
  }
}