mixin lists
  .form-elements__lists.row
    .blocks-set
      .form-elements__expandable-checkboxes.column-3 
        |
        .form-elements__elements-block.elements-block
          +checkbox-list({options:[ {label:"Завтрак"}, {label:"Письменный стол", checked:true}, {label:"Стул для кормления", checked:true},{label:"Кроватка", checked:true}, {label:"Шампунь"}]})
          +checkbox-list({expanded:"true",options:[ {label:"Завтрак"}, {label: "Письменный стол", checked:true}, {label:"Стул для кормления",checked:true},{label:"Кроватка", checked:true}, {label:"Шампунь"}]})
    .blocks-set
      .form-elements__rich-checkboxes.column-3 
        |
        .form-elements__elements-block.elements-block
          +checkbox-block({options:[{label:"Широкий коридор",subtitle:"Ширина коридоров в номере не менее 91 см."},{label:"Помощник для инвалидов",subtitle:"На 1 этаже вас встретит специалист и проводит до номера."}]})
    .blocks-set
      .form-elements__bullet-list.column-3 
        |
        .form-elements__elements-block.elements-block
          +bullet-list({options:["Нельзя с питомцами", "Без вечеринок и мероприятий","Время прибытия — после 13:00, а выезд до 12:00"]})
