@use "./mixins" as m;

* {
  box-sizing: border-box;
}

html {
  font-family: MontserratRegular;
  height: 100%;
  user-select: none;
}

.container {
  max-width: 1160px;
  // @include m.isFlex(row,space-between,flex-start,nowrap);
  margin: 0 auto;
  height: 100%;

}


label,
h3 {
  @extend %h3label;
}

a:link:active{
  @extend .--active;
}
.--active{
  @extend %fontBold;
  color: $dark-shade100;
}

.row {
  @include m.isFlex(row, space-between, flex-start, nowrap);
  // width: 100%;
}

.row-start {
  @include m.isFlex(row, flex-start, flex-start, nowrap);
}

.column {
  @include m.isFlex(column, flex-start, space-between, nowrap);
  // width: 27,59%;

}

.column-3 {
  @include m.isFlex(column, flex-start, space-between, nowrap);
  width: $full-input-width;
}

.column-double {
  @include m.isFlex(column, flex-start, space-between, nowrap);
  width: $double-input-width;
}

.column-center {
  @include m.isFlex(column, flex-start, center, nowrap);
}

.elements-block {
  @include m.isFlex(column, flex-start, flex-start, nowrap);
  padding: 20px 0;
  // width: 100%;

}

.elements-block-title {
  width: 100%;
  padding-bottom: 1rem;
}

.elements-block-row {
  @include m.isFlex(row, flex-start, flex-start, nowrap);
  padding: 0 0 30px 0;

  &--end {
    padding: 0 20px 0 0;
  }
}

.card {
  margin: 20px 0;
  width: 380px;
  padding: 40px 30px 30px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;

  &__inner {
    width: $full-input-width;
  }


  &__title {
    @extend %h1title;
  }

  .input-container.--noLabel {
    input {
      margin-top: 10px;
    }
  }

  button {
    margin: 20px 0 0 0;
  }

  .radiobuttons {
    margin-top: 10px;
  }

  .date-dropdown__input {
    width: 100%;
  }

  .toggle {
    margin: 10px 0 0;
  }

}