@use "./mixins" as m;

* {
  box-sizing: border-box;
}

html {
  font-family: MontserratRegular;
  height: 100%;
  user-select: none;
}

.container {
  max-width: 1160px;
  // @include m.isFlex(row,space-between,flex-start,nowrap);
  margin: 0 auto;
  // margin-bottom: 100px;

}

label,
h3 {
  @extend %h3label;
}

.row {
  @include m.isFlex(row, space-between, flex-start, nowrap);
}

.row-start {
  @include m.isFlex(row, flex-start, flex-start, nowrap);
}

.column {
  @include m.isFlex(column, flex-start, space-between, nowrap);
  width: 27,59%;

}

.column-center {
  @include m.isFlex(column, flex-start, center, nowrap);
}

.elements-block {
  @include m.isFlex(column,flex-start,flex-start,nowrap);
  padding: 20px 0;
}
.elements-block-title{
  width: 100%;
  padding-bottom: 1rem;
}
.elements-block-row{
  @include m.isFlex(row,flex-start,flex-start,nowrap);
  padding: 0 0 30px 0;
  &--end{padding: 0 20px 0 0;}
}