
%fontRegular {
  font-family: MontserratRegular, Arial, Helvetica, sans-serif;
  // color: $dark-shade100;
}

%fontBold {
  font-family: MontserratBold, Arial, Helvetica, sans-serif;
  // color: $dark-shade100;
}

%h1title {

  @include font(fontBold, 24);
  color: $dark-shade100;
}

%h2title {
  @include font(fontBold, 19);
  color: $dark-shade100;
}

%h3label {
  @include font(fontBold, 12);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  color: $dark-shade100;

}
%h3cta-text{
  @include font(fontBold, 12);
  text-transform: uppercase;
}

%bodyText {
  @include font(fontRegular, 14);
  line-height: 24px;
  color: $dark-shade75;
}
%selection-controls-text{
  @include font(fontRegular, 14);
  color: $dark-shade50;
  line-height: 18px;
  text-transform: none;
}
%selection-controls-text-bold{
  @include font(fontBold, 14);
  color: $dark-shade50;
  line-height: 18px;
  text-transform: none;
}
%like-button-text{
  @include font(fontRegular,10);
  color: $dark-shade25;
}
%pagination-text{
  @include font(fontRegular,12);
  color: $dark-shade50;
}
%control-item-title{
  @include font(fontBold,14);
  color: $dark-shade75;
}

%inputForm {
  position: relative;
  height: $input-height;
  border-radius: 4px;
  // margin-top: 5px;
  background: #FFFFFF;
  border: 1px solid $dark-shade25;
  padding: 10px 30px 10px 15px;
  @extend %bodyText;
  cursor: pointer;

  &::placeholder {
    color: $dark-shade25;
  }

  &:focus, &:hover {
    outline: none;
    border: 1px solid $dark-shade50;

  }
}

%elements-gap{
  &>div {
    // margin-top: 20px;
  }
}

%sizes {
  &.--full-size {
    width: $full-input-width;
  }

  &.--middle-size {
    width: $middle-input-width;
  }

  &.--half-size {
    width: $half-input-width;
  }

  &.--double-size {
    width: $double-input-width;

  }
  &.--container-size{
    width: 100%;
  }
  
  &.--flex-size {
    @include isFlex(row, center, center, nowrap);
    width: min-content;
    height: min-content;
    padding: 10px 20px;
    &.button-bordered{
      padding: 8px 20px;
    }
  }
}

%arrow-down {
  content: "";
  position: absolute;
  bottom: 18px;
  right: 15px;
  height: 0.6rem;
  width: 0.6rem;
  pointer-events: none;
  border: 3px solid $dark-shade50;
  border-width: 0 3px 3px 0;
  display: inline-block;
  border-radius: 2px;
  transform: rotate(45deg);
}



%_private-datepicker-shadowbase{
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  background: $datepicker-shadow-color;
  opacity: 0.25;
}

%datepicker-date-inrange-shadow {
  @extend %_private-datepicker-shadowbase;
  width: 100%;
  left: 0;
}

%datepicker-date-from-shadow {
  @extend %_private-datepicker-shadowbase;
  right: 0;
  width: 50%;
}

%datepicker-date-to-shadow {
  @extend %_private-datepicker-shadowbase;
  left: 0;
  width: 50%;
}

%arrow-next {
  
    position: relative;
    background: $purple;
    height: 2px;
    width: 14px;
    margin: 0 auto;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      background: $purple;
      position: absolute;
      height: 2px;
      width: 11px;
    }
 
    &:before {
      right: -3px;
      bottom: -3px;
      transform: rotate(-45deg);
    }

    &:after {
      right: -3px;
      top: -3px;
      transform: rotate(45deg);
    }
  
  }

  %arrow-next2{
    position: relative;
 
  &::after {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 15px;
    height: 12px;
    width: 11px;
    pointer-events: none;
    border: 2px solid $purple;
    border-width: 0 2px 2px 0;
    display: inline-block;
    border-radius: 1px;
    transform: rotate(-45deg);
  }

  &::before {
    position: absolute;
    content: "";
    background: $purple;
    height: 2px;
    width: 13px;
    right: 15px;
    bottom: 21px ;
    z-index: 2;
  }
  }

  %icon-font-bg-gradient{
    color: transparent;
    background-clip: text;
    background-image: $controls-bg-gradient;
  }
  %border-gradient{
    background: linear-gradient(
      to bottom, 
      #BC9CFF 0%, #8BA4F9 100%) border-box ;
    border: 2px solid transparent;
    border-radius: 22px;

  }

  %button-size-small{
    width: 99px;
    height: 44px;
  }

  %info{
    &::after{
      content: 'i';
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color:$dark-shade25;
      border: 1px solid $dark-shade25;
      display: flex;
      justify-content: center;
      align-items: center;
      }
  }

%underline{
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: $dark-shade10;
  }
}
// %pageFlex{
  
//     min-height: 100%;
//     display: flex;
//     flex-direction: column;
  
  
//     .header,
//     .footer {
//       margin: 0;
//     }
//     .main {
//       height: 100vh;
//       flex: 1 1 auto;
//       padding: 0;
//     }
  
// }