
//========== COLORS ===============

$dark-shade100: #1F2041;
$dark-shade75: #575870;
$dark-shade50: #8F8FA0;
$dark-shade25:#C7C7CF;
$dark-shade5: #F4F4F5;
$purple: #BC9CFF;
$green: #6FCF97;
$datepicker-date-current:  linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$datepicker-date-from-to:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$datepicker-shadow-color:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);



// ========== MEASURES ===============

$full-input-width: 320px;
$half-input-width: 150px;
$middle-input-width: 266px;
$datepicker-height: 369px;
$input-height: 44px;

