// $icon-font-family: "icons" !default;
// $icon-font-path: "../fonts" !default;

$icon-arrow_next: "\e908";
$icon-arrow_prev: "\e909";
$icon-arrow_forward: "\e904";
$icon-arrow_back: "\e905";
$icon-arrow_up: "\e906";
$icon-arrow_down: "\e907";
$icon-heart-o: "\e900";
$icon-star-o: "\e901";
$icon-star: "\e902";
$icon-heart: "\e903";

