mixin dropdowns
  .form-elements__dropdowns.column-3
    +select-plugin("accomodations", "select1","dropdown", "middle")
    +select-plugin("accomodations inline","select2", "dropdown", "middle")
  .form-elements__dropdowns.column-3
    +select-plugin("guests inline","select3", "dropdown", "full")
  .form-elements__dropdowns.column-3
    +select-plugin("guests inline", "select4", "dropdown", "full")
