mixin dropdowns
  .form-elements__dropdowns.column-3
    +select-plugin({category:"accomodations",label:"dropdown", size:"middle"})
    +select-plugin({category:"accomodations inline",label:"dropdown", size:"middle"})
  .form-elements__dropdowns.column-3
    +select-plugin({category:"guests inline",label: "dropdown",size: "full"})
  .form-elements__dropdowns.column-3
    +select-plugin({category:"guests inline", label:"dropdown",size: "full"})
