mixin like(likesNum, id, checkedValue)
  .like
    label.like__label(for=id)
      input.like__input.icon-heart-o(type="checkbox", checked=checkedValue)
      //- span.like__heart.icon-heart-o
      span.like__number= likesNum
