@use "/src/assets/common_style/index.common";

.elements-block-row{
  button:first-child{
    margin-right: 20px;
  }
}
.form-elements__range-slider .form-elements__elements-block{
  padding-top: 0;
}