@use "/src/assets/common_style/_index.common" ;
.card{
  display: flex;
  justify-content: flex-start;
  margin: 20px 0 10px 0;
}

.card{
    &__left{
      width: 70px;
      height: 70px;
      border-radius: 6px;
      color: rgba(31, 32, 65);  
    }
    &__right{
      color: rgba(31, 32, 65);  
      @include index.isFlex(column,center,flex-start);
      @extend %fontBold;
      font-weight: 700;
      font-size: 19px;
      line-height: 146%;
      margin-left: 40px;
      
    }
    &__right_color-number{
      @extend %fontRegular;
      font-weight: normal;
      font-size: 19px;
      display: block;
      text-align: left;
    }
    &__left_Dark_Shade_100{
     background-color: rgba(31, 32, 65);
    }
    &__left_Dark_Shade_75{
      background-color: rgba(31, 32, 65, .75);
    }
    &__left_Dark_Shade_50{
      background-color: rgba(31, 32, 65,.5);
    }
    &__left_Dark_Shade_25{
      background-color: rgba(31, 32, 65,.25);
    }
    &__left_Dark_Shade_5{
      background-color: rgba(31, 32, 65,.05);
    }
    &__left_Purple{
      background-color: #BC9CFF;
    }
    &__left_Green{
      background-color: #6FCF97;
    }
  }   


