mixin type
  .colors-type__type
    +card-simple("H1", "This one is the sub-section or widget title", "colors-type__type")
    +card-simple("H2", "Next one is the item title inside widgets", "colors-type__type")
    +card-simple("H3", "This is a label or CTA text", "colors-type__type")
    +card-simple("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.", "colors-type__type")
