extends ../templates/base
include ../components/blocks/blocks.pug
include ../components/elements/elements.pug

block title
  title TOXIN STARTPAGE
block content
  +header-startpage
  .container.column
    .startpage.column-center 
      |
      |
      h2 TOXIN PROJECT PAGES
      .startpage__inner.column-center
        ul.startpage__list.startpage__list-ui.column-center 
          |
          |
          li
            a(href="ui-kit.html") UI-kit
          li
            a(href="landing.html") TOXIN LANDING
          li
            a(href="search-room.html") TOXIN SEARCH-ROOM
          li
            a(href="room-details.html") TOXIN ROOM-DETAILS
