extends ../templates/base
include ../components/blocks/blocks.pug
include ../components/elements/elements.pug

block title
  title TOXIN STARTPAGE
block content
  +header-startpage
  .container.column
    .startpage.column-center 
      |
      h2 TOXIN PROJECT PAGES
      .startpage__inner.column-center
        ul.startpage__list.startpage__list-ui.column-center 
          |
          li
            a(href="ui-kit.html") UI-kit
        ul.startpage__list.startpage__list-landing.column-center 
          |
          - let refs = ["landing", "room-search", "room-details", "registration", "sign-in"];
          li
            h4 TOXIN Website pages
            each ref in refs 
              li
                a(href="#")= "TOXIN " + ref
