mixin inputs
  .form-elements__inputs.column-3
    +input("Email", "text field", "Email", "full")
    +input("text", "text field", "This is pretty awesome", "full")
    +select-plugin("guests", "dropdown", "full")
    +input("date", "masked text field", "masked-date","full")
    .form-elements__date-dropdowns.row
      +datepicker("date dropdown","ДД.ММ.ГГГГ")
      +datepicker("date dropdown","ДД.ММ.ГГГГ")
    +filter-datepicker("filter date dropdown","ДД.ММ.ГГГГ")
    +input("text", "subscription text field", "Email", "middle")
