mixin card-price({aptnumber,price}={})
  - formCount++;
  .card.card-price
    .card-price__inner 
      |
      .card-price__header
        .card-price__header-apt
          .card-price__n №&nbsp
          .card-price__apt-number
          .card-price__apt-status 
        .card-price__header-price
          .card-price__header-price-num 
          .card-price__header-price-text &nbspв сутки
      form.card-price__form(
        action="/",
        method="POST",
        id=`form-${formCount}`,
        name="card-price-form"
      )
        .card-price__date-dropdowns.row 
          |
          +datepicker({label:"прибытие",placehld:"ДД.ММ.ГГГГ", name: "dateFrom"})
          +datepicker({label:"выезд",placehld:"ДД.ММ.ГГГГ",name: "dateTo"})
        .card-price__guests-dropdown 
          |
          +select-plugin({category:"guests",label: "гости",size: "full", name: "guests"})
        .card-price__calculations 
          |
          .card-price__price-main.row
            .card-price__price-desc 
            .card-price__price-subtotal
          .card-price__service-tax.row 
            |
            .card-price__tax-desc
              .card-price__tax-text Сбор за услуги:
              .card-price__tax-info
                .card-price__tax-info-message Ссылка на информацию о тарифах за услуги
            .card-price__tax-subtotal
          .card-price__fee.row
            .card-price__fee-desc 
              |
              .card-price__fee-text Сбор за дополнительные услуги
              .card-price__fee-info
                .card-price__fee-info-message Ссылка на информацию о тарифах за услуги
            .card-price__fee-subtotal
          .card-price__total.row
            .card-price__total-desc Итого
            .card-price__total-underline
            .card-price__total-price
        +button({name: "button",text: "забронировать", style: "filled",size: "full-size", hasarrow: true})
