mixin select(selectId,label,name, ...options)
  .select-container
    label(for=selectId)= label
    br
    select(id=`${selectId}`, name=name) 
      |
      |
      each item in options
        option.option-line= item
