mixin select(label,name, ...options)
  - mixinCounter++;
  .select-container
    label(for=`el-${mixinCount}`)= label
    br
    select(id=`el-${mixinCount}`, name=name) 
      |
      |
      |
      each item in options
        option.option-line= item
