mixin selection-controls
  .form-elements__selection-controls.column-3
    .form-elements__checkbox-buttons
      .form-elements__elements-block.elements-block
        h3.form-elements__title.elements-block-title checkbox buttons
        +checkbox({label:"Можно курить"}) 
        +checkbox({label:"Можно с питомцами", checked:true}) 
        +checkbox({label:"Можно пригласить гостей (до 10 человек)"}) 
    .form-elements__radio-buttons.column
      .form-elements__elements-block.elements-block 
        |
        h3.form-elements__title.elements-block-title radio buttons
        +radiobutton({name: "sex",options:[{value: "Мужчина",id:1},{value: "Женщина",id:2}], checkedValue:"Мужчина"})
    .form-elements__toggle-buttons
      .form-elements__elements-block.elements-block
        h3.form-elements__title.elements-block-title toggle
        +toggle({label:"Получать спецпредложения",checked:true})
        +toggle({label:"Получать спецпредложения"})
    .form-elements__like-buttons
      .form-elements__elements-block.elements-block
        h3.form-elements__title.elements-block-title like button
        .form-elements__like-buttons-set.row
          +like({count:"12",checked:true})
          +like({count:"2",checked:false})
    .form-elements__rating-buttons 
      |
      |
      .form-elements__elements-block.elements-block
        h3.form-elements__title.elements-block-title rate button
        .form-elements__rate-buttons.row
          +rating({value: 2, max: 5})
          +rating({value: 5, max: 5})
