@use "/src/assets/common_style/index.common";

.logo {
  display: flex;
  flex-direction: row;
  &.--colored-full,&.--colored-small{ 
    @include index.isFlex(row, flex-start, center, nowrap);
  }
  
  img {
    display: block;
  }

  &__circle {
    padding-right: 12px;

  }
}