@use "/src/assets/common_style/index.common";

.socials {
  @include index.isFlex(row, space-between, center, nowrap);
  flex: 1 1 108px

  img {
    display: block;
  }

  &>div:not(div:last-child) {
    padding-right: 20px;
  }
}