mixin colors
  .colors-type__colors
    - let objarr1 = [{title: "Dark Shade 100", subtitle:"#1F2041", colorName: "primary-100"},{title: "Dark Shade 75%", subtitle: "#1F2041", colorName: "primary-75"},{title: "Dark Shade 50%", subtitle: "#1F2041", colorName: "primary-50"},{title: "Dark Shade 25%", subtitle: "#1F2041", colorName: "primary-25"},{title: "Dark Shade 5%", subtitle: "#1F2041", colorName: "primary-5"},{title: "Purple", subtitle: "#BC9CFF", colorName: "Purple"},{title: "Green", subtitle: "#6FCF97", colorName:"Green"}]
    each k in objarr1 
      +color-sample(k.title, k.subtitle, k.colorName)
