mixin comments
  .form-elements__comments.row
    .form-elements__info-comment
      .form-elements__elements-block.elements-block
        +media-block({media:{imgName: "emoticon", alt: "Комфорт"}, title: "Комфорт",description: "Шумопоглощающие стены"})
        +media-block({media:{imgName: "location_city", alt: "Удобство"}, title: "Удобство",description: "Окно в каждой из спален"})

    .form-elements__feedback-comment
      .form-elements__elements-block.elements-block
        +comment({avatarImage: {imgName: "avatar-comment", alt: "avatar image"}, title: "Мурад Сарафанов", published: "5 дней назад", likes: {num:"12", id: "avatar1", checkedValue: true},message: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
